* {
    box-sizing: border-box;
}

h1 { text-align: center; }

.tools { text-align: center; }


.image-wrapper {
    width: 600px;
    margin: 0 auto;
    /*outline: 1px solid #cecece;*/
    margin-top: 30px;
    aspect-ratio: 1/1;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.image-wrapper[data-tooltype="add"] { outline: 2px solid #787878; }

.image-wrapper>img { max-width: 100%; }

.imgp-point-list { 
    
}
.imgp-point-list:empty {

}










